@charset "utf-8";
.head-two {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-top: -39px;
}

#search-box {
    background: #ecf0f1;
    border-radius: 30px;
}

#search-box #search-text {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}

#search-box:hover #search-text,
#search-box #search-text:valid {
    width: 300px;
    padding: 10px 0px 10px 15px;
}

#search-box #search-btn {
    background-color: #fff;
    cursor: pointer;
    border: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 8px;
    margin-top: -15px;
}

#wrapper .giohang{
    max-height: 545px;
    height: 545px;
    background: rgba(0,0,0,0.7);
    max-width: 100%;
    border: 3px solid white;
}

.giohang .huyhang{
    background: none;
    border: 1px solid white;
    margin-left: 1319px;
}

#wrapper .giohang .sanpham{
    max-height: 470px;
    height: 470px;
    max-width: 1343px;
    width: 1343px;
    overflow: auto;
}

.giohang .sanpham table{
    width: 1326px;
    max-width: 1326px;
}

#wrapper .giohang .sanpham table tr, td{
    color: white;
    border: 2px solid #f5f6fa;
    text-align: center;
    font-size: 20px;
}

#wrapper .giohang .top{
    background: rgba(246, 242, 242, 0.5);
    border: 1px solid white;
    height: 45px;
    display: flex;
}

.giohang .top .xoachon{
    background: none;
    border: none;
    margin-left: 27px;
    padding-right: 835px;
    margin-top: 13px;
    height: 30px;
}

.giohang .thanhtoan{
    display: block;
    margin-top: -29px;
    margin-left: 986px;
    background: none;
    border: none;
}

.giohang .thanhtoan img{
    width: 25px;
}

#wrapper .giohang .top p{
    background: aqua;
    width: 370px;
    margin-left: 48px;
    margin-top: 8px;
    padding: 6px;
    border: 2px solid yellow;
    text-align: center;
    font-weight: 700;
    height: 35px;
}


#wrapper .chucnang{
    display: grid;
    margin-top: 207px;
}

.chucnang a{
    font-size: 40px;
    color: white;
    background: black;
}