@charset "utf-8";
.head-two {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#search-box {
    background: #ecf0f1;
    border-radius: 30px;
}

#search-box #search-text {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}

#search-box:hover #search-text,
#search-box #search-text:valid {
    width: 300px;
    padding: 10px 0px 10px 15px;
}

#search-box #search-btn {
    background-color: #fff;
    cursor: pointer;
    border: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    margin-top: -15px;
}


.noidung{
    background: rgba(0, 0, 0, 0.5);
    max-height: 538px;
    max-width: 700px;
    height: 367px;
    width: 700px;
    margin-top: -42px;
    margin-left: 314px;
    display: flex;
}

.noidung .avt{
    padding-left: 9px;
    padding-top: 36px;
}

.noidung .avt img{
    height: 325px;
    max-width: 310px;
    width: 310px;
    border: 3px solid white;
}

.noidung .thongtin{
    margin-top: 83px;
    margin-left: 25px;
    background: black;
    height: 251px;
    width: 317px;
}

.noidung .thongtin h3{
    color: white;
    margin-left: 14px;
    margin-top: 6px;
}